#carousel-height {
  max-height: 300px;
  img {
    object-fit: cover;
  }
}

body {
  margin: 84px auto;
  padding: 0 16px ;
}
img {
  width: 60px;
}
p{
  margin: 16px 0px;
}

.carousel-item {
  img {
    object-fit: cover;
  }
}
